/*!CK:3010875482!*//*1384873398,178134599*/

._6z-{width:173px;z-index:2}
._6z- .fbTimelineSection{padding:12px 0;width:250px}
._5g4r .fbTimelineSection{margin-bottom:10px;margin-top:0;padding:12px 0;width:300px}
._5i8n{padding-top:10px;position:relative;width:200px}
._5i8o, ._5jjg{padding-left:20px}
._5i8o label{font-weight:normal;padding-bottom:10px}
._6z_{font-size:16px;font-weight:bold;margin:20px 7px}
._5g4s{font-weight:bold;padding:0 10px;text-transform:uppercase}
._5g4t{color:#6a7180;font-weight:bold;padding:0 0 15px 10px;text-transform:uppercase}
._5j5b{padding:0 0 5px 10px}
._5j5b span input{width:245px}
._5j5b td{max-width:145px}
._5j5b .ego_column{margin:-14px 0;width:280px}
._6z- .uiSideNav .sideNavItem{margin-bottom:2px}
._6z- .uiSideNav .item, ._6z- .uiSideNav .subitem{border-bottom:0;color:#6a7180}
._6z- .uiSideNav .subitem{padding-left:28px}
._6z- .uiSideNav .item:hover, ._6z- .uiSideNav .subitem:hover{background-color:#f6f7f8}
._6z- .uiSideNav .loading .subitem{background-color:transparent}
._6z- .uiSideNav .selectedItem > .item, ._6z- .uiSideNav .selectedItem > .subitem{background-color:#f6f7f8;border-bottom:1px solid #d3d6db;border-top:1px solid #d3d6db}
._6z- .uiSideNav .selectedItem > .item:hover, ._6z- .uiSideNav .selectedItem > .subitem:hover{background-color:#f6f7f8}
._6z- .uiHeaderNav{background-image:url(/rsrc.php/v2/yV/r/R3gnFfkFEmR.png);background-repeat:no-repeat;margin:0}
._6z- .uiMoreLinkText, ._6z- .navLessLink{color:#89919c}
._6z- .uiMoreLinkCaret{display:none}
._6z- .uiSideNavCount{padding-left:3px;padding-right:3px}
._6z- .count .countValue, ._6z- .count .maxCountIndicator{font-size:9px}
._6-0{width:678px}
._6-0 #profileApprovalSeeMoreContainer{margin:0 -1px -2px -1px}
._6-3{margin-top:74px}
._5g4u{margin:-85px -30px 0 0}
._kj2{margin-top:100px}
.tinyViewport ._6-3{margin-top:0}
._6-3 .profileApprovalListContainer{padding:0}
.fbTimelineLogColumn ._6-3 .fbTimelineSection{padding:0}
._6-3 li.profileApprovalStoryContainer{padding:3px 15px 16px}
._6-3 #profileApprovalLoadingIndicator{padding-bottom:10px;text-align:center}
._6-3 .profileApprovalRow .uiStream .uiStreamAttachments{margin-bottom:5px}
._3oyv{margin-left:50px;padding-top:6px}
._6-3 .approvalStory{position:relative;top:6px}
._6-3 #pages_scheduled_posts_stream{padding:0 15px}
._6-3 #pages_scheduled_posts_stream_pager{margin:0}
._6-3 .fbTimelineScheduledPostsSection h3{padding:10px 15px 0}
._5jjh{background-color:#fff;border:1px solid #d3d6db;-webkit-border-radius:3px;margin:75px 0 0 35px;padding:15px;width:606px}
._5j94{margin:62px 0 0 35px;width:638px}
._5j94 .fbTimelineSection{padding:0}
li._iqt{border-top:1px solid #d4d4d4}
._iqt h4{border-top:2px solid #f2f2f2;font-size:9px;padding:9px 15px 10px;text-transform:uppercase}
li._iqt:first-child, li._iqt:first-child h4{border-top:none;margin-top:1px}
._iqp div.profile-pagelet-section{margin-bottom:0}
._iqp h3{border-bottom:3px solid #e1e1e1;font-size:15px;line-height:22px}
.async_saving ._iqp .uiMorePagerLoader{display:none}
.async_saving ._iqp .uiMorePager, .async_saving ._iqp .uiMorePagerPrimary{display:block}
._iqq{color:#6e87b0;font-size:15px;font-weight:bold;margin:10px;text-align:center}
._40pu{border-bottom:1px solid #d3d6db;height:11px;margin:auto;position:relative;right:8px;width:290px}
._40pv{background-color:#f6f7f8;font-size:11px;font-weight:normal;padding:0 5px}
._13rf{float:right;visibility:hidden}
.async_saving ._13rf{visibility:visible}
._z6j{background-color:#fff;border:1px solid #d3d6db;-webkit-border-radius:3px;position:relative}
._iqp .uiMorePager{margin:0 -25px -10px}
._iqp ._z6j .uiMorePager{margin:0 0 -5px}
._iqp ._z6j .uiMorePagerLoader{border:none;-webkit-border-radius:0 0 2px 2px}
._417b{border-bottom:2px solid #f2f2f2}
._417c{border-bottom:1px solid #e0e0e0;padding:17px 0;text-align:center}
._3214{position:absolute;right:5px;top:5px}
._3215{margin:0 2px;vertical-align:middle}
.fbActivityLogAudienceSelector a.uiSelectorButton, .fbActivityLogAudienceSelector a.uiSelectorButton:active, .fbActivityLogAudienceSelector a.uiSelectorButton:focus, .fbActivityLogAudienceSelector a.uiSelectorButton:hover{padding-left:5px;padding-right:22px}
.fbActivityLogAudienceSelector a.uiButton{visibility:hidden}
.fbActivityLogStaticAudience{display:inline-block;margin:3px 0 0 4px}
.uiStreamStory:hover .fbActivityLogAudienceSelector a.uiButton, .fbActivityLogAudienceSelector .openToggler a.uiButton, .fbActivityLogAudienceSelector.openToggler a.uiButton, .fbActivityLogAudienceSelector a.uiButton .img{visibility:visible}
.fbActivityLogAudienceSelector.audienceSelector .uiSelectorMenu .itemIcon{display:none}
._2fmt ._2fmm ._2fmu{margin:3px 2px}
._2fmt ._2fmm, ._2fmt ._2fmm:active, ._2fmt ._2fmm:focus, ._2fmt ._2fmm:hover{padding-left:4px;padding-right:4px}
._5lqz{display:none}
._5lxd{display:block;margin:10px 0 15px 0}
._5lqa ._5lqz{display:block}
._5lv7{display:inline-block;padding-left:10px;vertical-align:top;width:200px}
._5lqd{vertical-align:top}
._5lxe ._5lx7.selected ._5lx6, ._5lxe ._5lx7 ._5lx6:hover{background-color:#333;-webkit-border-radius:3px;color:#fff;cursor:pointer}
._5lqd{vertical-align:top}
._5lxe ._5lx7 ._5lx6{color:#000;cursor:pointer;padding:2px 4px}
._5lx9 ._5lxd{margin:0 10px}
._5lxe ._5lx6{color:#d3d6db;font-weight:normal;overflow:hidden;padding:2px 4px}
._5lx8 ._5lx6{max-width:20px}
._5lxe{margin:10px 5px 5px 10px}
._2o3t{z-index:1}
._kj3{background:#fff;border:1px solid #d3d6db;padding:15px;width:646px}
._5g4o{background:#fff;border:1px solid #d3d6db;margin-top:-1px;padding:10px 15px;width:606px}
._5g4p{background:#fff;border:1px solid #d3d6db;-webkit-border-radius:3px 3px 0 0;padding:15px;width:606px}
._5g4q{background:#e9eaed;border:1px solid #e9eaed;margin-top:-106px;padding:15px;width:606px}
._kj3 .uiSearchInput{border-color:#d3d6db}
._a4f{line-height:32px}
._a4h{padding-right:4px;padding-top:7px}
._a4h li._a4i{padding-left:4px;padding-right:4px}
._3216{padding:4px 5px 0 4px}
._a4h ._2cte{margin-top:2px}
._a4e ._a4j .uiSelectorButton, ._a4e ._a4j .uiSelectorButton:active, ._a4e ._a4j .uiSelectorButton:focus, ._a4e ._a4j .uiSelectorButton:hover{background-image:url(/rsrc.php/v2/yL/r/i_w0lGI-t7X.png);background-repeat:no-repeat;background-size:auto;background-position:-352px -250px;padding-right:8px}
._a4k{border-top:1px solid #d3d3d3;margin-top:10px;padding-top:12px}
._2o49{background:#f6f7f8;border:1px solid #d3d6db;border-bottom-width:2px;-webkit-border-radius:0 0 3px 3px;border-top:0;height:23px;line-height:23px;padding:2px 15px}
._kj4{line-height:19px;padding-top:2px}
._kj4 .uiPopoverButton .customimg{vertical-align:middle}
._kj5 .uiPopoverButtonWithChevron{background-image:url(/rsrc.php/v2/yT/r/fUAw_8jFByA.png);background-repeat:no-repeat;background-size:auto;background-position:right -113px}
._2o4a{display:inline-block;position:relative;top:-1px}
._kj5 .uiButtonText{color:#666;font-weight:normal}
._kj5:hover .uiButtonText{color:#000}
._kj8{color:#666;margin-left:10px}
.highlighted ._kj8{color:#ddd}
._kj7{margin-bottom:-4px;opacity:.5}
._2_xy{line-height:15px;padding-top:3px}
._2o4b, ._2o3r ._kj4{display:none}
._2o3r ._2o4b{display:block}
._2_xz{position:relative;top:1px}
._k3x{margin:1px 0}
._k3z{color:#999;font-size:10px}
._k41 .uiStreamAttachments{margin:0}
._k41 .uiStreamAttachments ._134d{display:inline-block;margin:0 5px 5px 0}
._k41 .uiStreamAttachments ._134e{height:150px;position:relative;width:150px}
._k41 .uiStreamAttachments ._134e::after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._k41 .uiStreamAttachments .external .img{height:30px;width:30px}
._k41 .uiAttachmentDesc{display:none}
._k41 .uiVideoThumb .img{max-height:80px;max-width:80px}
._k41 .songListContainer{position:relative;top:-1px}
li._z6m{border-top:1px solid #efefef;padding:6px 0}
li._z6m ._k3x ._z6o{padding-left:13px;padding-right:20px;width:250px}
._2o3s{display:none;margin:1px 7px 0 1px}
._2o47 ._2o3s{display:inline}
._2o47 ._5lq8{opacity:.4}
._k3x ._z6o ._k40{color:#333;margin-bottom:2px}
._k3x ._z6o ._k40 .passiveName{font-weight:normal}
._z6o ._k3z{font-size:9px;visibility:hidden}
._z6m:hover ._z6o ._k3z{visibility:visible}
._z6p{width:312px}
._5lq9{background-color:#eceff5}
._2f_1{width:66px}
._5646{height:62px;position:relative;width:398px}
._5647{margin-left:4px;margin-top:6px;position:absolute;width:100%}
._5648{display:none}
._5647:hover ._5648{display:block}
._5649{border-bottom:1px solid #e9e9e9;height:9px}
._564a{background-color:#fff}
._564b{margin-left:2px}
._564c{margin-top:3px}
._568a{margin-right:8px}
.profileApprovalRow{position:relative}
.profileApprovalRow .uiStreamStory{padding:0}
.profileApprovalRow .storyContent{position:static}
.profileApprovalRow .actionButtons{margin:18px 0 10px 10px}
.profileApprovalRow .privacyIcon{padding-top:2px}
.profileApprovalRow .actorName{font-weight:bold}
.profileApprovalQueueHeaderContainer{border-bottom:3px solid #e2e2e2;padding:4px 5px 6px}
.profileApprovalQueueHeader{padding-top:4px}
.profileApprovalQueueTitle{float:left;margin-right:10px;margin-bottom:2px}
.profileApprovalQueueFilter{float:left}
.profileApprovalListContainer{padding-left:5px;padding-right:5px}
.profileApprovalQueueEmptyList{padding-bottom:100px;padding-top:80px;text-align:center}
.profileApprovalQueueEmptyList .text{color:lightgray;font-size:18px}
.profileApprovalQueueItemMessage{border-left:2px solid #ccc;color:gray;font-size:11px;margin-top:5px;max-width:85%;padding:3px 3px 3px 7px}
._5h4d{margin-top:-6px;padding:18px 0}
._5dxv .endDate{display:inline}
._5dxv .toText{margin:0 10px;vertical-align:middle}
._5dxv .toPresentText{vertical-align:middle}
.fbTimelineLogColumn .fbTimelineNavigationPagelet{display:none}
.fbTimelineLogFilterForm{display:inline}
.fbTimelineSearchError{padding-left:20px}
._guu{background-color:#f6f7f8;border:1px solid;border-bottom:2px solid;border-color:#d3d6db;-webkit-border-radius:3px;padding:12px 15px}
._guu .title{color:#666;font-size:13px}
._guu .text{color:gray;font-size:11px}
.fbTimelineLogBody{margin-bottom:30px}
.fbTimelineLogStream .profile-pagelet-section{margin-bottom:0}
.fbTimelineLogStream .uiMorePagerPrimary{border:0}
.fbTimelineLogTimeNav{padding-bottom:3px}
.fbTimelineLogColumn .fbTimelineSection{padding:20px 25px 10px}
.fbTimelineLogScrubber .selected ul{display:block}
.fbTimelineLogScrubber .selected li.selected a{font-weight:bold}
.fbTimelineLogColumn .fbProfileEditFieldInline{width:480px}
.fbTimelineLogColumn .fbProfileEditFieldInline .privacyWidget{padding-top:0}
.fbTimelineLogColumn .fbProfileEditFieldInline .rightCol{padding-left:0;width:41px}
._55rm ._55rn{padding-left:20px}
._55rm ._55ro{padding-left:15px;padding-top:5px}
._55rm ._55rp{width:400px}
._55rm ._55rq{background-color:#f6f6f6;border:1px solid rgba(0, 0, 0, .1)}
._55rm ._55rr + ._55rr{border-top:1px solid #ccc}
._55rm ._55rr{font-size:12px;padding-right:10px}
._55rr ._55rs{padding-top:8px}
._56u1{color:#adb2bb;font-size:16px;padding:44px;text-align:center}
._56u1 ._56u2{height:45px}
._56u1 ._56u3{padding-bottom:4px}
.sp_dpn882{background-image:url(/rsrc.php/v2/yr/r/bs1MfLLIxg5.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:9px}
.sx_10248f{width:16px;height:16px;background-position:0 0}
.sx_0baaca{width:8px;background-position:0 -31px}
.sx_211345{background-position:0 -17px}
.sp_wrmw03{background-image:url(/rsrc.php/v2/y2/r/MiG-4lfZxU8.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_c6f36f{background-position:0 -34px}
.sx_617025{background-position:-17px -34px}
.sx_7bc2b2{background-position:0 -51px}
.sx_3153cb{background-position:-17px -51px}
.sx_2bf466{background-position:0 -68px}
.sx_2c878b{background-position:-17px -68px}
.sx_ec3813{background-position:0 -85px}
.sx_fe3c8f{background-position:-17px -85px}
.sx_11df32{background-position:0 -102px}
.sx_24826e{background-position:-17px -102px}
.sx_bbf45f{background-position:0 -119px}
.sx_ba55e5{background-position:-17px -119px}
.sx_01c2e7{background-position:0 -136px}
.sx_c2d687{background-position:-17px -136px}
.sx_56e9ec{background-position:0 -153px}
.sx_656137{background-position:-17px -153px}
.sx_b01e86{background-position:0 -170px}
.sx_252102{background-position:-17px -170px}
.sx_97aa04{background-position:0 -187px}
.sx_e47c3c{background-position:-17px -187px}
.sx_f3f807{background-position:0 -204px}
.sx_db266b{background-position:-17px -204px}
.sx_9bddf5{background-position:0 -221px}
.sx_c99a63{background-position:-17px -221px}
.sx_3b6c4c{background-position:-16px -17px}
.selected .sx_3b6c4c{background-position:0 -17px}
.sx_8c22b7{background-position:0 -238px}
.sx_d9a990{width:17px;background-position:-17px 0}
.selected .sx_d9a990{background-position:0 0}
.sx_772357{background-position:-17px -238px}
ul.timelineAllActivityStream > li{border-color:#e1e1e1}
.fbTimelineAllActivityStaticSelector{padding-right:4px}
.fbTimelineAllActivityStorySelector{text-align:left}
.fbTimelineAllActivityStorySelector .wrap .uiSelectorButton,
.fbTimelineAllActivityStorySelector .wrap .uiSelectorButton:active,
.fbTimelineAllActivityStorySelector .wrap .uiSelectorButton:focus,
.fbTimelineAllActivityStorySelector .wrap .uiSelectorButton:hover,
.fbTimelineAllActivityStorySelector .wrap .uiButtonSuppressed:active,
.fbTimelineAllActivityStorySelector .wrap .uiButtonSuppressed:focus,
.fbTimelineAllActivityStorySelector .wrap .uiButtonSuppressed:hover{background-image:none;height:16px;margin-top:-4px;padding-left:5px;padding-right:5px}
.fbTimelineAllActivityStorySelector .openToggler .uiSelectorButton,
.fbTimelineAllActivityStorySelector .openToggler .uiSelectorButton:active,
.fbTimelineAllActivityStorySelector .openToggler .uiSelectorButton:focus,
.fbTimelineAllActivityStorySelector .openToggler .uiSelectorButton:hover,
.fbTimelineAllActivityStorySelector .openToggler .uiButtonSuppressed:active,
.fbTimelineAllActivityStorySelector .openToggler .uiButtonSuppressed:focus,
.fbTimelineAllActivityStorySelector .openToggler .uiButtonSuppressed:hover{background-image:none}
.uiSideNav .divider{border-bottom:1px solid #ededed;border-top:1px solid #ededed;height:1px;left:auto;display:none;padding-left:0;margin-bottom:1px;width:179px;font-size:1px;line-height:1px;overflow:hidden}
.editMode .uiSideNav .hidden,
.expandedMode .uiSideNav .hidden,
.expandedMode .uiSideNav .divider{display:block}
.navMoreText{display:block;width:100%}
.navLess{line-height:12px}
div.navLess,
.expandedMode .navMore{display:none}
.expandedMode .navLess{display:block}

#bootloader_xMjeY { height: 42px; }
.bootloader_xMjeY { display:block !important; }